@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=JetBrains+Mono:wght@400;700&family=Inter:wght@400;600;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-brand: #FC5200;
  --color-dark-bg: #050505;
  --color-dark-panel: #080808;
}

/* Base custom styles to fit the design */
body {
  background-color: #050505;
  color: #F5F5F5;
  font-family: var(--font-sans);
}
